/* ===== Menu for cards ===== */
button{
    background-color:var(--cardBGColor);
    margin: 5px;
    padding: 5px;
    color: white;
    cursor: pointer;
    border-color:rgb(100,100,100);
}
.sort-buttons .selected-sort{
    background-color: rgb(80,80,80);
}
.sort-buttons.hide{
    display: none;
}
.sort-buttons{
    right: 0px;
}
#elements-container{
    width: 100%;
}

main section{
    position: relative;
}
.fully-loaded .slider-buttons:hover, .fully-loaded .card:hover, button:hover{
    background-color: rgb(100,100,100);
}
button:disabled {
  cursor: default;
  
}

.slider-buttons:active{
    background-color: rgb(70,70,70);
}

#topLine h2{
    margin: 0 10px;
    
}

#bottomLine{
    position: absolute;
    bottom: 0;
    width: 100%;
    z-index: 2;
}

/* ===== Slider card ===== */
.slider{
    width: 100%;
    height: var(--blogCardHeight)+20px;
    display: flex;
    flex-wrap: nowrap;
}
.slider{
  position: relative;
}
.display-section{
    padding:10px 0 40px 0;
    position: relative;
}
.slider-buttons {
  position: absolute;
  cursor: pointer;
  height: 55%;
  background-color: var(--cardBGColor);
  opacity: 0.6;
  width: 30px;
  top: 20%
}
.slider .card{
  width:150px;
}
.right-slider {
  left: var(--bodyMaxWidth);
  border-radius:0 100px 100px 0;
}
.left-slider {
  border-radius: 100px 0 0 100px;
  right: var(--bodyMaxWidth);
}
.slider .hidden-slider {display: none;}

@media only screen and (max-width:899px){
  .slider-buttons{
    display: none;
  }
  .slider{
    overflow: hidden;
  }
}
@media only screen and (min-width:900px){
    .slider .card{
        flex: 1 1 0;
    }
}
/* ===== General card ===== */
.card, .big-card{
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
    align-items: center;
    color:var(--cardTitleColor);
    background-color: var(--cardBGColor);
}
.card h6{
    
    padding:5px;
    margin-top:0;
    margin-bottom:5px;
}
.card{cursor: pointer;}

.big-card a,.blog-card a, .card a{
    color: var(--cardTitleColor);
    text-decoration:none;
}
#loadMoreButton{
  padding: 10px;
  margin: 0;
}

/* ===== Product card ===== */

.product-card{
    width: 200px;
    height: 100px; 
}
.product-card > div{
    width: 50%;
    height: 100%;
}
.product-card .info-text{
    margin-left: 10px;
}
.product-card .info-text span{
    font-size: 0.7rem;
}
.big-card{
    height: 500px;
}
.big-card .grid1{
    height: 150px;
}
.big-card h6{
    margin: 10px;
}
.big-card .contain-image{
    height: 100%;
}
.big-card .scroll-box{
    width: 100%;
    height: 100%;
    border:0px;
    padding:0px;
    background:none;
}
.big-card{
    max-height: 300px;
    display: grid; 
    gap:1rem;
    grid-template-areas:
    'grid1 grid2 grid3'
    'grid4 grid4 grid4'
    'grid5 grid5 grid5';
}
/* ===== Blog cards ===== */
.blog-card{
    height: var(--blogCardHeight);
}
.blog-card > div{
    height: 50%;
}
.wide-blog-card .text{
    overflow: hidden;
    height: 8rem;
    margin: 10px 0;
    font-size: 1rem;
}
.blog-card .contain-image{
    height: 70%;
    width: 100%;
}
@media only screen and (min-width:900px){
    .small-card{width: calc(20% - 20px);}   
    .pc .sort-buttons{
        position: absolute;
        top:0px;
        right: 10px;
        z-index: 2;
    }
    .card:hover{
        padding:8px;
        margin:2px
    }
}
@media only screen and (max-width:899px){
    .small-card{width: calc(33% - 20px);}   
    .small-card{
        margin-left:auto;
        margin-right:auto;
    }
}
@media only screen and (max-width:599px){
    .small-card{width: calc(50% - 20px);}
}
@media only screen and (max-width:315px){
    .small-card{width: calc(100% - 20px);}
}
.wide-blog-card{
    width: calc(100% - 20px);
    height: 200px;
}
.big-card{
    width: 100%;
}
/* ===== Cards functions and extras ===== */
div.scroll {
    margin:4px, 4px;
    padding:10px;
    background-color: none;
    width: calc(100% - 30px);
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    text-align:justify;
    scrollbar-color: white grey;
    scrollbar-width: thin;
}
.loading-card{
    animation: loadingAnimation 2s infinite ;
    opacity: 0.5;
}
@keyframes loadingAnimation {
    0%{opacity: 0.5;}
    50%{opacity: 0.9;}
    100%{opacity: 0.5;}
}