:root {
  --cardTextColor: white;
  --cardBGColor: 100,100,100;
  --otherBGColor: rgb(120,120,120);
  --headerColor: rgb(70,70,70);
  --generalTextColor: rgb(70,70,70);


  --buttonColor: 100,100,100;
  --buttonHover: 70,70,70;
  --buttonActive: 30,30,30;

  --plainLinksColor: black;
  --blogCardHeight:200px;
  --blogCardWidth:150px;
  --bodyMaxWidth:800px;
  --modalImageSize:500px;
}
body{
    max-width: var(--bodyMaxWidth);
    margin: 0 auto;
}
.hideThis{display:none;}

.contain-image{
    background-size:contain;
    background-repeat: no-repeat;
    background-position: center;
}
.opacityBlur{
    display: none;
}
.comment{
  background-color: rgb(200,200,200);
  padding: 5px;
  margin: 5px;
}
.comment-reply{
  background-color: rgb(220,220,220);
  margin-left: 60px;
  padding: 5px;

}
#comments-container #new{
  margin:10px;
}
header{
  margin-top: 30px;
}
footer {
  margin: 50px auto;
}
.reply-container button{
  width: 50%;
}
.comment p{
  margin-left: 20px;
}
.overflow-hidden .text{
  position: relative;
}
.opacityBlur{
  background-image: linear-gradient(to bottom, rgba(255,255,255,0), rgba(255,255,255,1));
}

.card .opacityBlur{
  background-image: linear-gradient(to bottom, rgba(var(--cardBGColor),0), rgba(var(--cardBGColor),1));
}
.card:hover .opacityBlur{
  background-image: linear-gradient(to bottom, rgba(var(--buttonHover),0), rgba(var(--buttonHover),1));
}

.overflow-hidden .opacityBlur{
    display: block;
    position: absolute;
    height: 20%;
    width: 100%;
    top: 80%;
    z-index:2;
}
h1, h2{
  color: var(--headerColor);
}
p{
  color: var(--pColor);
}

#aboutPage img{
  width:400px
}

#aboutPage{
  margin: 20px;
}
/* ===== Search ===== */
#search{
  display: flex;
  min-height: 30px;
  background-color: var(--otherBGColor);
}

#search-input{
  width: 200px;
  height: 30px;
  margin: 5px;
  
}
@media only screen and (min-width:900px){ 
  #search-container{
    width: var(--bodyMaxWidth);
  }
}
@media only screen and (max-width:899px){ 
  #search-container{
    width: 100%;
  }
}
/* ===== Header ===== */
header a,footer a{
    margin: 10px;
    text-decoration:none;
    color: var(--plainLinksColor);
}
header .mobile a{
  color: white;
}
.link-logo{
  height: 50px;
}
header a.active{
  text-decoration:underline;
}
@media only screen and (min-width:500px){ 

  #header .mobile,#headerLinkButton{
    display: none;
  }

}
@media only screen and (max-width:499px){ 
    #header{
    flex-direction: column;
  }
  #header .pc, #header .mobile.hide{
    display: none;
  }

}
.headerLinks.mobile{
  color: white;
  width: 100%;
  background-color: rgb(var(--cardBGColor));
  font-size: 40px;
  
}

#headerLinkButton{
  padding: 10px;
  width: 100px;
  border-radius: 20px;
  border-color:var(--otherBGColor);
}
/* ===== Modal ===== */
#modal-background{
  position: fixed;
  top:0px;
  left: 0px;
  width:100vw;
  height:100vh;
  display: block;
  background-color: grey;
  opacity: 0.4;
  z-index: 3;
}
#modal .contain-image{
  height: var(--modalImageSize);
  width: var(--modalImageSize);
  position: fixed;
  left: calc(50vw - var(--modalImageSize)/2);
  top:calc(50vh - var(--modalImageSize)/2);
  opacity:1;
  z-index: 4;
}
@media only screen and (max-width:500px){ 
  #modal .contain-image{
    height: 80vw;
    width: 80vw;
    left: calc(50vw - 80vw / 2);
    top:calc(50vh - 80vw / 2);
  }
}
#modal.hide-modal{
  display: none;
}

/* ===== Contact us page ===== */
#contactForms{
  display: grid;
  gap: 5px;
  grid-template-areas:
  'grid1 grid2'
  'grid3 .'
  'grid4 grid4';
}
#contactPage{
  padding: 20px;
  margin: 0 auto;
  max-width: 600px;
}
#contactForms textarea{
  width: calc(100% - 5px);
  min-height: 80px;
}
textarea{
  resize: vertical;
}
#contactPage .label-text{
  
  display: flex;
  flex-direction: column;
}
#contactPage .label-text .message{
  height: 20px;
}
@media only screen and (max-width:500px){ 
  #contactForms{
    display: flex;
    flex-direction: column;
  }
  #contactForms .label-text{
    display: flex;
    flex-direction: column;
  }
}

.message{
  font-size: 0.7rem;
  color: rgba(0,0,0,0.8);
}
.rough .message{
  color: rgba(200,0,0,1);
}

/* ===== Info pages ===== */

.info-page .top-line{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.info-page .overflow-hidden .text{
  overflow: hidden;
  height: 200px;
}

@media only screen and (max-width:500px){ 
  .info-page .top-line{
    flex-direction: column;
  }
}
#show-button{
  display: none;
}
.overflow-hidden #hide-button{
  display: none;
}
.overflow-hidden #show-button{
  display: block;
}
.info-page{
  min-height: 400px;
}
#main-content{
  margin: 10px;
}
.blog-image{
  height: 200px;
  width: 200px;
}
.info-page h1{
  font-size: 20px;
  margin: 10px;
}
.info-page h2{
  font-size:15px;
  margin: 10px;
}